body{margin: 0;}
*{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    margin: 0;
    padding: 0;
}
.header{
    padding: 10px ;
    height: 10px;
}



.header .col-4{
    font-size: 25px;
    font-weight: 700;
    color: #2c2c2c;
}

.header .col-4 span{
                       background-color: #2086f3d7;
                       border-radius: 5px 5px;
                       box-shadow: 0 2px 8px rgba(147, 142, 252, 0.686);
                    }

.header .col-8{
                margin-top: -40px;
                margin-right: -5px;
              }


.nav{
        display: flex;
        justify-content: flex-end;
        gap: 25px;
    }


.nav-item{
            list-style: none;
            color: gray;
         }

.nav-item :hover{
                 color: red;
                }

.nav-link{
    text-decoration: none;
    color: #333;
    font-size: 16px;
    font-weight: 500;
    padding: 8px 10px;
}

.nav-item button{background-color: blue;
                  color: white;
                  border-radius: 5px 5px;
                  margin-top: 1px;}

.nav-item button:hover{background-color: green;
                 color: white;}


                  /* banner */

.banner{
    width: 92%;
    height: 400px;
    background-color: #f2f2f2;
    padding-left: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
    /* margin-left: 50px; */
}

.banner .para1 p{
    font-size: 10px;
    color: #007bff;
    margin-bottom: 12px;
    background-color: #f3f5f7e6;
    width: 100px;
    text-align: center;
}

.banner .head h2{
    font-size: 38px;
    color: #222;
    margin-top: 5px;
}


.banner .head h2 span{
    color: #007bff;
}


.banner .para2 p{
    font-size: 10px;
    color: #666;
    max-width: 600px;
    margin-bottom: 12px;
    /* margin-left: 2px; */
}


.banner button{
    width: fit-content;
    padding: 10px 25px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    height: 33px;
}



      /* cards */

.cards{
    width: 90%;
    display: flex;
    justify-content: space-between;
    padding: 50px;
    background-color: #f3f5f7e6;
}


.cards .card{
    width: 20%;
    background-color: #f5f5f5;
    text-align: center;
    padding: 30px 10px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
    height: 60px;
}

.cards .card:hover{
    transition: 1s;
    transform: translateY(-10px) scale(1.03);
    box-shadow: 0 10px 20px rgba(0,0,0,0.25);
}


.cards .card p{
    font-size: 26px;
    font-weight: bold;
    color: #007bff;
    margin-top:-2px;
}

.cards .card span{
    font-size: 14px;
    font-weight: normal;
    color: #555;
}


                 /* events */
.events{
    text-align: center;
    padding: 30px 0;
}

.events p{
    font-size: 10px;
    color: blue;
    background-color: #dbeafe;
    padding: 4px 8px;
    border-radius: 5px;
    display: inline-block;
}

.events h1{
    font-size: 28px;
    margin: 10px 0;
    color: #000;
}

.events span  p {
                font-size: 14px;
                color: gray;
                background: none;
                }



     /* cards2 */







.event-card{
  width:300px;
  background:#fff;
  border-radius:12px ;
  box-shadow:0 4px 12px rgba(0,0,0,0.1); 

}

.card-top{
  height:140px;
  background:#2f6fed;
  position:relative;
}


.purple{ background:#8b5cf6; }
.pink{ background:#ec4899; }


.date{
  position:absolute;
  top:10px;
  right:10px;
  background:#fff;
  padding:4px 10px;
  border-radius:15px;
  font-size:12px;
}

.cards{
  gap:30px;
}


.card-body{
  padding:20px;
}


.tag{
  background:#e0ecff;
  color:#2f6fed;
  font-size:10px;
  padding:4px 10px;
  border-radius:5px;
  margin-bottom:10px;
}


h3{
  font-size: 13px;
  margin:10px 0;
}

p{
  font-size:14px;
  color:#555;
  margin-bottom:10px;
}

.time{
  font-size:13px;
  color:#444;
  margin-bottom:5px;
}


button{
  width:100%;
  height:20px;
  margin-top:40px;
  background:none;
  border:1px solid #2f6fed;
  color:#2f6fed;
  border-radius:6px;
  cursor:pointer;
  transition:0.3s;
}

.event-card button:hover{
                          background-color: black;
                          color: #fff;
                        }
  



.event-card{
  transition: transform 0.3s, box-shadow 0.3s;
}

.event-card:hover{
  transform: scale(1.05);
  box-shadow:0 8px 20px rgba(0,0,0,0.15);
}




/* crausal */

.heading{
  text-align: center;
  padding: 20px 0;
}

.mems{
  display: inline-block;
  background: #e6efff;
  color: #2563eb;
  padding: 6px 14px;
  border-radius: 12px 12px;
  font-size: 14px;
  margin-bottom: 10px;
}

.heading h1{
  font-size: 36px;
  margin: 10px 0;
  color: #1f2937;
}

.heading p{
  font-size: 14px;
  color: #6b7280;
}


.container-flud{
  width:100%;
  padding:40px 0;
}


.gallery-cards{
  display:flex;
  justify-content:center;
  gap:30px;
}


.gallery-card{
  width:360px;
  height:220px;
  border-radius: 12px;
  position:relative;
}


.blue{
  background:linear-gradient(135deg,#2563eb,#3b82f6);
}

.purple{
  background:linear-gradient(135deg,#7c3aed,#a78bfa);
}

.pink{
  background:linear-gradient(135deg,#db2777,#fb7185);
}

/* arrows */
.arrow{
  position:absolute;
  top:50%;
  transform:translateY(-50%);
  width:40px;
  height:40px;
  border-radius:50%;
  background:rgba(255,255,255,0.3);
  color:white;
  font-size:24px;
  display:flex;
  align-items:center;
  justify-content:center;
  cursor:pointer;
}

.left{ left:20px; }
.right{ right:20px; }



/* banner2 */



.about{
  display:flex;
  padding:60px;
  gap:40px;
}


.left{
  width:55%;
}

.tag{
  background:#e6efff;
  color:#2563eb;
  padding:4px 10px;
  font-size:12px;
}

.left h1{
  margin:15px 0;
  font-size:32px;
}

.left p{
  font-size:14px;
  color:#555];
  margin-bottom:15px;
}

.left ul{
  list-style:disc;
  padding-left:20px;
}

.left li{
  font-size:14px;
  margin-bottom:8px;
}


.right{
  width:45%;
  position:relative;
}

.card{
  background:#2563eb;
  color:white;
  padding:40px;
  border-radius:10px;
  text-align:center;
}

.students{
            margin-left: 260px;
            position:absolute;
            background:white;
            padding:8px 12px;
            font-size:12px;
            border-radius:6px;
            box-shadow:0 4px 8px rgba(0,0,0,0.1);
            margin-bottom: 90px;
        }

.ranking{
            position:absolute;
            background:white;
            padding:8px 12px;
            font-size:12px;
            border-radius:6px;
            box-shadow:0 4px 8px rgba(0,0,0,0.1);
            margin-bottom: 90px;
        }

.students{
        top:-15px;
        right:10px;
}

.ranking{
  bottom:-15px;
  left:10px;
}



/* crausal2 */

